button {
  color: $white;
  background-color: $red;
  padding: 2rem;
  font-family: 'Cera';
  font-size: 2rem;
  cursor: pointer;
  border: 6px solid $red;
  @include transition;
  width: 100%;
  @include phablet {
    width: auto;
  }

  &:hover {
    border: 6px solid $light;
    background-color: white;
    color: $red;
  }
}
