button {
  color: $white;
  background: linear-gradient( to top right, $purple, $pinkOrange);
  border-radius: .9rem;
  padding: 1rem 1.2rem;
  font-size: 2rem;
  cursor: pointer;
  @include transition;
  width: 100%;
  @include phablet {
    width: auto;
  }
  &.btn-white {
    background: transparent;
    border: .1rem solid white;
  }
}
