/*
--------------------------------------------------------------------------------
Content wrapper
--------------------------------------------------------------------------------
*/
.wrapper {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.text-wrapper {
  max-width: 65rem;
}

.work-img-wrapper {
  display: flex;
  flex-direction: column;
  img {
    max-height: 25rem;
  }
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  &.work {
    display: inline-block;
    @include phablet {
      display: flex;
    };
  }
}
.flex-wrapper-vm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.flex-wrapper-end {
  @extend .flex-wrapper;
  justify-content: flex-end;
}

.flex-wrapper-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrapper-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
