/*
--------------------------------------------------------------------------------
Content wrapper
--------------------------------------------------------------------------------
*/
.wrapper {
  width: 100%;
  max-width: 75%;
}
.text-wrapper {
  width: 80%;
}

.work-img-wrapper {
  display: flex;
  flex-direction: column;
  img {
    max-height: 25rem;
  }
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  &.work {
    display: inline-block;
    @include phablet {
      display: flex;
    };
  }
}
.flex-wrapper-vm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.flex-wrapper-end {
  @extend .flex-wrapper;
  justify-content: flex-end;
}

.flex-wrapper-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrapper-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



/*
--------------------------------------------------------------------------------
Menu wrapper
--------------------------------------------------------------------------------
*/
.wrapper-menu {
  @include transition();
  @include sans_serif(600);
  background-color: black;
  color: white;
  font-size: 1.6rem;
  height: 100%;
  position: fixed;
  right: -20rem;
  top: 0;
  width: 25rem;
  z-index: 9;

  &.menu-open{
    @include translate(0, 0);
  }

  ul li {
    list-style: none;
    margin: 0;
    padding: 6rem 0;
    text-align: center;
  }
}
