.contacts {
  padding-top: 16rem;
  padding-bottom: 9rem;
  min-height: 100vh;
  @include desktop {
    padding-top: 9rem;
    padding-bottom: 1rem;
    width: 100vw;
    height: 100vh;
  };
  img {
    display: none;
    @include desktop {
      display: inline-block;
    };
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 300;
  }
  h2 {
    font-size: 1.8rem;
    &.talk {
      font-size: 2.8rem;
    }
  }
  p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    &.text {
      font-size:1.4rem;
      line-height: 2rem;
    }
  }
}
