.fs-home {
  background-color: $red;
  color: white;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.slider-home {
  width: 45%;

  .slider-wrapper {
    float: right;
    max-width: 40rem;
  }
}

.slider {
  cursor: pointer;
  display: flex !important;
  flex-direction: column;
  margin-left: auto;
  margin-right: 6rem;
  padding-bottom: 6rem;
  justify-content: flex-end;
  height: 100vh;

  img {
    align-self: center;
    margin: auto;
  }
}

.tag-home {
  width: 55%;
  box-shadow: 0 0 60px rgba(100, 0, 0, .4);
  align-items: center;
  display: flex;
  padding-left: 10rem;

  h2 {
    line-height: 140%;
    max-width: 40rem;
  }
}
