.hero {
  width: 100vw;
  height: 100vh;
  background-image: $hero-bg-url;
  position: relative;
  background-size: cover;

  .hero-wrapper {
    width: 80%;
    position: absolute;
    bottom: 20%;
    margin-left: 10%;
    @include desktop() {
      width: 50%;
    }
  }
}


.who-we-are {
  &.flex-wrapper {
    display: inline-block;
    @include tablet() {
      display: flex;
    }
    .w-50 {
      width: 100%;
      @include tablet() {
        width: 50%;
      }
    }
  }
  img {
    max-height: 500px;
    object-fit: cover;

    &.mobile-dn {
      display: inline-block;
      @include tablet() {
        display: none;
      }
    }
    &.mobile-ib {
      display: none;
      @include tablet() {
        display: inline-block;
      }
    }
  }
}

.community {
  img {
    mix-blend-mode: lighten;
  }
  .flex-wrapper-sb {
    display: inline-block;
    @include tablet {
      display: flex;
    }
  }
  .w-24 {
    width: 100%;
    @include tablet {
      width: 24%;
    }
  }
}