footer {
  height: 25rem;
  display: flex;
  background-color: $light;

  button {
    background-color: transparent;
    color: $darkGray;
    border: 6px solid $light;
    width: 20%;

    &:hover {
      background-color: transparent;
      color: $darkGray;
      border: 6px solid white;
    }

    a{
      font-family: 'G-Regular';
    }
  }
  h2 {
    font-size: 1.8rem;
  }
}
