footer {
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  background-color: $light;
  .flex-wrapper-sb {
    display: inline-block;
    @include tablet {
      display: flex;
    };
  }
  button {
    background-color: transparent;
    color: $darkGray;
    border: 6px solid $light;
    width: 100%;
    text-align: left;
    @include tablet {
      width: 20%;
      text-align: center;
    };
    &:hover {
      background-color: transparent;
      color: $darkGray;
      border: 6px solid white;
    }

    a{
      font-family: 'G-Regular';
    }
  }
  h2 {
    font-size: 1.8rem;
  }
}
