.logo {
  height: 8rem;
  width: auto;
}

header {
  background-color: rgba($white, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  height: 10rem;
  z-index: 2;
  @include transition;

  .wrapper {
    max-width: 90%;
    @include tablet {
      max-width: 80%;
    }
  }
  a.nav {
    position: relative;
    top: -1rem;
    font-size: 1.8rem;
  }
}

