.team {
  float: left;
  margin-bottom: 12rem;
  text-align: center;
  width: 50%;

  .img-wrapper {
    background-color: $light;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 7rem;

    img {
      max-height: 38rem;
    }
  }

  h2 {
    font-size: 2rem;
    color: $black;
  }

  p {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
