@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800';

@font-face {
    font-family: 'cera';
    src: url(../fonts/Cera-Bold.otf);
}

@font-face {
  font-family: 'FD-Light';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/FD-Light.woff) format('woff');
}

@font-face {
  font-family: 'FD-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FD-Regular.woff) format('woff');
}

@font-face {
  font-family: 'G-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/G-Regular.woff) format('woff');
}
