/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black:    #000000;
$dark:     #57576d;
$light:    #F8F8F8;
$red:      #FF5252;
$white:    #ffffff;
$darkGray: #5D5D5D;
$gray:     #a5a5a5;
$orange:   #F4AA50;
$pink:     #B639A6;
$blue:     #4EB2C3;
$green:    #84C8A1;
$camel:    #EFC89D;

//ALPHA
$purple: #A234D5;
$pinkOrange: #D74059;



/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/
// $bg_list: fog "../images/bg_fog",
//           lake "../images/bg_lake",
//           class "../images/bg_class";



$hero-bg-url: url('../images/hero_bg.png');
$section-tab-url: url('../images/placeholder2.png');

// --------------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------------

$radius: .4rem;
