/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black:    #000000;
$dark:     #57576d;
$light:    #F8F8F8;
$red:      #FF5252;
$white:    #ffffff;
$darkGray: #6C6C6C;
$orange:   #F4AA50;


/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/
// $bg_list: fog "../images/bg_fog",
//           lake "../images/bg_lake",
//           class "../images/bg_class";



/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;
